<article>
    <h3 style="text-align:center"><%- page.title %></h3>
    <br>
    <%- page.content %>
    <br>
    <hr>
    <p style="text-align:right">Created At <%- page.date.format("YY MMM Do - h:mm:ssa") %></p>
<article>
